<app-adminmenu></app-adminmenu>


<div class="row mt-5"></div>
<div class="content-wrapper">
  <div class="row mt-5"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-sm-12">
        <!-- <div class="col-sm-9"> -->
        <div class="card">
          <div class="card-header">
            <div class="row">

              <div class="col-lg-11 col-md-11 col-sm-10">
                <span class="align-middle">
                  <h4>Skill Details</h4>
                </span>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-2">
                <span class="align-middle">
                  <a routerLink="/adminAddSkill">
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add Skill" style="font-size:2em; color:#28a745"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-bordered table-hover text-center">
                <thead class="thead" style="background: #343a40; color:white">
                  <!-- <thead class="thead-dark"> -->
                  <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Category</th>
                    <th scope="col">Sub Category</th>
                    <th scope="col">Skill</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Technical</td>
                    <td>Web Technologies</td>
                    <td>Php</td>
                    <td>
                      <a routerLink="/adminquestion">
                        <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Skill" style="font-size:1.3em; color:#007bff"></i>
                      </a>
                    </td>
                    <td>
                      <a routerLink="/adminquestion">
                        <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Skill" style="font-size:1.3em; color:#dc3545"></i>
                      </a>
                    </td>
                  </tr>


                  <tr>
                      <th scope="row">2</th>
                      <td>Technical</td>
                      <td>Web Technologies</td>
                      <td>Angular 5</td>
                      <td>
                        <a routerLink="/adminquestion">
                          <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Skill" style="font-size:1.3em; color:#007bff"></i>
                        </a>
                      </td>
                      <td>
                        <a routerLink="/adminquestion">
                          <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Skill" style="font-size:1.3em; color:#dc3545"></i>
                        </a>
                      </td>
                    </tr>


                    <tr>
                        <th scope="row">3</th>
                        <td>Technical</td>
                        <td>Big Data</td>
                        <td>Hadoop</td>
                        <td>
                          <a routerLink="/adminquestion">
                            <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Skill" style="font-size:1.3em; color:#007bff"></i>
                          </a>
                        </td>
                        <td>
                          <a routerLink="/adminquestion">
                            <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Skill" style="font-size:1.3em; color:#dc3545"></i>
                          </a>
                        </td>
                      </tr>


                      <tr>
                          <th scope="row">4</th>
                          <td>Technical</td>
                          <td>Big Data</td>
                          <td>Mongo Db</td>
                          <td>
                            <a routerLink="/adminquestion">
                              <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Skill" style="font-size:1.3em; color:#007bff"></i>
                            </a>
                          </td>
                          <td>
                            <a routerLink="/adminquestion">
                              <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Skill" style="font-size:1.3em; color:#dc3545"></i>
                            </a>
                          </td>
                        </tr>

                    

                  

                </tbody>
              </table>
            </div>

          </div>

          <div class="card-footer text-center">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row mb-5"></div>
  <div class="row mb-4"></div>
</div>