<app-adminmenu></app-adminmenu>


<div class="row mt-5"></div>
<div class="content-wrapper">
  <div class="row mt-5"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-sm-12">

        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-11 col-md-11 col-sm-10">
                <span class="align-middle">
                  <h4>Category Details</h4>
                </span>
              </div>

              <div class="col-lg-1 col-md-1 col-sm-2">
                <span class="align-middle">
                  <a data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add Category" style="font-size:2em; color:#28a745"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <form [formGroup]="categoryForm" novalidate>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <label for="validationTooltip03" class="font-weight-bold">Category Name</label>
                          <input type="text" class="form-control" formControlName="categoryname" id="validationTooltip03" placeholder="Enter Category Name"
                            required>
                          <div class="invalid-tooltip">
                            Please Enter Category Name.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="onSubmit(categoryForm.value)" [disabled]="!categoryForm.valid" data-dismiss="modal">
                        Add Category &nbsp;
                        <i class="fas fa-location-arrow" style="font-size:1em; color:white"></i>
                      </button>&nbsp;
                      <button type="reset" class="btn btn-primary">
                        Clear &nbsp;
                        <i class="fas fa-undo" style="font-size:1em; color:white"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-bordered table-hover text-center">
                <thead class="thead" style="background: #343a40; color:white">
                  <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let category of categories">
                    <th scope="row">{{category.category_id}}</th>
                    <td>{{category.category_description}}</td>
                    <td>
                      <a routerLink="/adminUpdateCategory/{{category.category_id}}">
                        <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Category" style="font-size:1.3em; color:#007bff"></i>
                      </a>
                    </td>
                    <td>
                      <a (click)="deleteCategory(category.category_id)">
                        <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Category" style="font-size:1.3em; color:#dc3545"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5"></div>
  <div class="row mb-4"></div>
</div>