<app-adminmenu></app-adminmenu>

<div class="row mt-5"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>Admin Home</h1>
                <p>This is an Admin Home Page.</p>
            </div>
        </div>
    </div>

</div>