<app-adminmenu></app-adminmenu>


<div class="row mt-5"></div>
<div class="content-wrapper">
  <div class="row mt-5"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <form class="needs-validation" novalidate>
          <div class="card text-center">

            <div class="card-header">
              <h4>Add Question</h4>
            </div>


            <div class="card-body">

              <div class="form-row">

                <div class="col-md-4 mb-3">
                  <label for="exampleFormControlSelect1">Select Category</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Category</option>
                    <option>Technical</option>
                    <option>Leadership</option>
                    <option>Behavioral</option>
                    <option>Soft</option>
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="exampleFormControlSelect1">Select Sub-Category</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Sub-Category</option>
                    <option>Web Technologies</option>
                    <option>Big Data Skills</option>
                    <option>Communication skills</option>
                    <option>Team works</option>
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="exampleFormControlSelect1">Select Skills</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Skills</option>
                    <option>Php</option>
                    <option>Html</option>
                    <option>Java</option>
                    <option>Android</option>
                  </select>
                </div>

              </div>


              <div class="form-row">

                <div class="col-md-8 mb-3">
                  <label for="validationTooltip03">Question</label>
                  <input type="text" class="form-control" id="validationTooltip03" placeholder="Enter Question" required>
                  <div class="invalid-tooltip">
                    Please Enter A Question.
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label for="exampleFormControlSelect1">Select Type</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Type</option>
                    <option>Single Choice</option>
                    <option>Multiple Choice</option>
                    <option>Short Answer</option>
                  </select>
                </div>

              </div>

            </div>

            <div class="card-footer text-muted">
              <button class="btn btn-primary" type="submit">Add Question</button>
              <input type="reset" class="btn btn-primary" value="Clear">
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mb-5"></div>
  <div class="row mb-4"></div>
</div>