<app-adminmenu></app-adminmenu>


<div class="row mt-5"></div>
<div class="content-wrapper">
  <div class="row mt-4"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- <div class="col-sm-9"> -->
        <div class="card">
          <div class="card-header">
            <div class="row">

              <div class="col-lg-11 col-md-11 col-sm-10">
                <span class="align-middle">
                  <h4>{{form_description}} Quetionnaire</h4>
                </span>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-2">
                <span class="align-middle">
                  <a data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="top" title="Add Question" style="font-size:2em; color:#28a745"></i>
                  </a>
                </span>
              </div>
            </div>



            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <form [formGroup]="questionForm" novalidate>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Question</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>

                    <div class="modal-body">

                      <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                          <label for="validationTooltip03" class="font-weight-bold">Question Description</label>
                          <input type="text" class="form-control" formControlName="questionname" id="validationTooltip03" placeholder="Enter Question"
                            required>
                          <div class="invalid-tooltip">
                            Please Enter A Question.
                          </div>
                        </div>

                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                          <label for="exampleFormControlSelect1" class="font-weight-bold">Question Type</label>
                          <select class="form-control" formControlName="questiontype" id="exampleFormControlSelect1">
                            <option value="" disabled selected>Question Type</option>
                            <option value="Single Choice">Single Choice</option>
                            <option value="Multiple Choice">Multiple Choice</option>
                          </select>
                        </div>

                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                          <label for="validationTooltip03" class="font-weight-bold">Total Rating</label>
                          <input type="text" class="form-control" formControlName="totalrating" id="validationTooltip03" placeholder="Enter Rating"
                            required>
                          <div class="invalid-tooltip">
                            Please Enter A Rating.
                          </div>
                        </div>

                      </div>

                      <div formArrayName="option_array">
                        <div *ngFor="let option of option_array.controls; let i=index" [formGroupName]="i">
                          <div class="form-row">
                            <input type="hidden" class="form-control" formControlName="optionid" ngModel={{i+1}}  id="validationTooltip03">
                          </div>

                          <div class="form-row">
                            <div class="form-group col-lg-5 col-md-12 col-sm-12">
                              <label for="validationTooltip03" class="font-weight-bold">Option {{i + 1}}</label>
                              <input type="text" class="form-control" formControlName="optionname" id="validationTooltip03" placeholder="Enter Option"
                                required>
                              <div class="invalid-tooltip">
                                Please Enter A Option.
                              </div>
                            </div>

                            <div class="form-group col-lg-2 col-md-12 col-sm-12">
                              <label for="validationTooltip03" class="font-weight-bold">Rating</label>
                              <input type="text" class="form-control" formControlName="optionrating" id="validationTooltip03" placeholder="Enter Rating"
                                required>
                              <div class="invalid-tooltip">
                                Please Enter Option Rating.
                              </div>
                            </div>

                            <div class="form-group col-lg-3 col-md-12 col-sm-12">
                              <label for="exampleFormControlSelect1" class="font-weight-bold">Correct Option</label>
                              <select class="form-control" formControlName="correctoption" id="exampleFormControlSelect1">
                                <option value="" disabled selected>Select Choice</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                              </select>
                            </div>

                            <div class="form-group col-lg-2 col-md-12 col-sm-12">
                              <label for="exampleFormControlSelect1" class="font-weight-bold">Delete</label>
                              <button type="button" class="btn btn-danger" (click)="removeOption(i)">
                                <i class="fas fa-times" style="font-size:1em; color:white"></i>&nbsp; Remove
                              </button>
                            </div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-success" (click)="addOption()">
                          <i class="fas fa-plus" style="font-size:1em; color:white"></i>&nbsp; Add Option
                        </button>
                      </div>


                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="onSubmit(questionForm.value)" [disabled]="!questionForm.valid" data-dismiss="modal">
                        Add Question &nbsp;
                        <i class="fas fa-location-arrow" style="font-size:1em; color:white"></i>
                      </button>&nbsp;
                      <button type="reset" class="btn btn-primary">
                        Clear &nbsp;
                        <i class="fas fa-undo" style="font-size:1em; color:white"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>


          </div>

          <div class="card-body">

            <div class="col mt-3">
              <p class="card-text">
                <b>Q1. With supporting text below as a natural lead-in to additional content.</b>
              </p>

              <ul class="list-group">
                <li class="list-group-item">Option 1</li>
                <li class="list-group-item">Option 2</li>
                <li class="list-group-item">Option 3</li>
                <li class="list-group-item">Option 4</li>
              </ul>
              <br>

              <a href="" class="btn btn-primary">
                <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Question" style="font-size:1em; color:white"></i>&nbsp; Edit Question
              </a>
              <a href="" class="btn btn-danger">
                <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Question" style="font-size:1em; color:white"></i>&nbsp; Delete Question
              </a>
            </div>

          </div>

          <!-- <div class="card-body">

            <div class="table-responsive">
              <table class="table table-bordered table-hover text-center">
                <thead class="thead" style="background: #343a40; color:white">
                  <tr>
                    <th scope="col">Question No.</th>
                    <th scope="col">Question Description</th>
                    <th scope="col">Edit Question</th>
                    <th scope="col">Delete Question</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">Q1</th>
                    <td>What is Html?</td>
                    <td>
                      <a routerLink="/adminUpdateQuestion/{{form.form_id}}">
                        <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Form" style="font-size:1.3em; color:#007bff"></i>
                      </a>
                    </td>
                    <td>
                      <a (click)="deleteForm(form.form_id)">
                        <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Form" style="font-size:1.3em; color:#dc3545"></i>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Q2</th>
                    <td>What is Html?</td>
                    <td>
                      <a routerLink="/adminUpdateQuestion/{{form.form_id}}">
                        <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit Form" style="font-size:1.3em; color:#007bff"></i>
                      </a>
                    </td>
                    <td>
                      <a (click)="deleteForm(form.form_id)">
                        <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Form" style="font-size:1.3em; color:#dc3545"></i>
                      </a>
                    </td>
                  </tr>



                </tbody>
              </table>
            </div>

          </div> -->

          <div class="card-footer text-center">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row mb-5"></div>
  <div class="row mb-4"></div>
</div>