<app-adminmenu></app-adminmenu>

<div class="row mt-5"></div>
<div class="content-wrapper">
  <div class="container">
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="card">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card-header">
              <h4>Create Form</h4>
            </div>

            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Category</label>
                  <select class="form-control" formControlName="category" id="exampleFormControlSelect1">
                    <option value="" disabled>Select Category</option>
                    <option *ngFor="let categoryType of categoryTypes" [value]="categoryType">{{categoryType}}</option>
                  </select>
                </div>

                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Sub-Category</label>
                  <select class="form-control" formControlName="subcategory" id="exampleFormControlSelect1">
                    <option value="" disabled>Select Sub-Category</option>
                    <option *ngFor="let subcategoryType of subcategoryTypes" [value]="subcategoryType">{{subcategoryType}}</option>
                  </select>
                </div>

                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Skills</label>
                  <select class="form-control" formControlName="skills" id="exampleFormControlSelect1">
                    <option value="" disabled>Select Skills</option>
                    <option *ngFor="let skillsType of skillsTypes" [value]="skillsType">{{skillsType}}</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                  <label for="validationTooltip03" class="font-weight-bold">Form Name</label>
                  <input type="text" class="form-control" formControlName="formname" id="validationTooltip03" placeholder="Enter Form Name"
                    required>
                  <div class="invalid-tooltip">
                    Please Enter Form Name.
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="addQuestion()">
                    <i class="fas fa-plus" style="font-size:1em; color:white"></i>&nbsp; Add Question
                  </button>
                </div>
              </div>


              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Question</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>

                    <div class="modal-body">


                    </div>

                    <div class="modal-footer">
                      <a class="btn btn-primary" routerLink="/adminCreateForm" data-dismiss="modal">
                        <i class="fas fa-save" style="font-size:1em; color:white"></i>&nbsp; Save
                      </a>
                      <button class="btn btn-danger" type="button" data-dismiss="modal">
                        <i class="fas fa-times" style="font-size:1em; color:white"></i>&nbsp; Cancel
                      </button>
                    </div>

                  </div>
                </div>
              </div>

              <!-- <div formArrayName="question_array">
                <div *ngFor="let question of question_array.controls; let i=index" [formGroupName]="i">
                  <div class="form-row">
                    <div class="form-group col-lg-7 col-md-7 col-sm-12">
                      <label for="validationTooltip03" class="font-weight-bold">Question {{i + 1}}</label>
                      <input type="text" class="form-control" formControlName="questionname" id="validationTooltip03" placeholder="Enter Question"
                        required>
                      <div class="invalid-tooltip">
                        Please Enter A Question.
                      </div>
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-12">
                      <label for="exampleFormControlSelect1" class="font-weight-bold">Question Type</label>
                      <select class="form-control" (change)="onSelect($event.target.value)" formControlName="questiontype" id="exampleFormControlSelect1">
                        <option value="" disabled>Question Type</option>
                        <option *ngFor="let questionType of questionTypes" [value]="questionType">{{questionType}}</option>
                      </select>
                    </div>

                    <div class="form-group col-lg-1 col-md-2 col-sm-12">
                      <label for="exampleFormControlSelect1" class="font-weight-bold">Delete</label>
                      <button type="button" class="btn btn-danger" (click)="removeQuestion(i)">
                        <i class="fas fa-times" style="font-size:1em; color:white"></i>&nbsp; Remove
                      </button>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-success" (click)="addQuestion()">
                  <i class="fas fa-plus" style="font-size:1em; color:white"></i>&nbsp; Add Question
                </button>
              </div> -->

            </div>

            <div class="card-footer text-center">
              <button class="btn btn-primary" type="submit">Add Form</button>&nbsp;
              <button class="btn btn-primary" type="reset">Reset</button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <p>questionForm value: {{ questionForm.value | json}}</p> -->
  <div class="row mb-5"></div>
  <div class="row mb-4"></div>
</div>