<app-adminmenu></app-adminmenu>

<div class="row mt-5"></div>
<div class="content-wrapper">
  <div class="container">
    <form class="needs-validation" novalidate>
      <div class="card">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card-header">
              <h4>Create Form</h4>
            </div>

            <div class="card-body">
              <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Category</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Category</option>
                    <option>Technical</option>
                    <option>Leadership</option>
                    <option>Behavioral</option>
                    <option>Soft</option>
                  </select>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Sub-Category</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Sub-Category</option>
                    <option>Web Technologies</option>
                    <option>Big Data Skills</option>
                    <option>Communication skills</option>
                    <option>Team works</option>
                  </select>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Skills</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Skills</option>
                    <option>Php</option>
                    <option>Html</option>
                    <option>Java</option>
                    <option>Android</option>
                  </select>
                </div>
              </div>
              <br>

              <div class="form-row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <label for="validationTooltip03" class="font-weight-bold">Form Name</label>
                  <input type="text" class="form-control" id="validationTooltip03" placeholder="Enter Form Name" required>
                  <div class="invalid-tooltip">
                    Please Enter Form Name.
                  </div>
                </div>
              </div>
              <br>

              <div class="form-row">

                <div class="col-lg-8 col-md-8 col-sm-12">
                  <label for="validationTooltip03" class="font-weight-bold">Question</label>
                  <input type="text" class="form-control" id="validationTooltip03" placeholder="Enter Question" required>
                  <div class="invalid-tooltip">
                    Please Enter A Question.
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                  <label for="exampleFormControlSelect1" class="font-weight-bold">Select Question Type</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option disabled selected>Select Question Type</option>
                    <option>Single Choice</option>
                    <option>Multiple Choice</option>
                    <option>Short Answer</option>
                  </select>
                </div>

              </div>
   
            </div>

            <div class="card-footer text-center">
              <button class="btn btn-primary" type="submit">Add Form</button>&nbsp;
              <button type="reset" class="btn btn-primary">Clear</button>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row mb-5"></div>
  <div class="row mb-4"></div>
</div>